body{
    font-family: "Montserrat";
    text-align: center;
  }
  p{
    color: #8be614;
  }
  
  /* Headings */
  
  .big-heading{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2 rem;
    line-height: 1.5;
  }
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section{
    background-color: #741a51dc;
    color: #fff;
  }
  
  .white-section{
    background-color: #fff;
  }
  
  /* Navigation Bar */
  
  .navbar{
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: 1000;
    font-weight: bolder;
    
  }
  
  .nav-item{
    padding: 0 18px;
    
  }
  
  .nav-link{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
  
    
  }
  
  
  /* Title Section */
  
  #home .container-fluid{
    text-align: left;
    padding: 3% 15% 7%;
  } 

  .title-image{
    width: 100%;
    padding-left: 25px;
  }

  /* Mission Section */
  .testimonial-text{
    padding-top: 16px;
    font-size: 2rem;
    line-height: 1.5;
  }
  
  
  .test-img{
    width: 30%;
    border-radius: 100%;
    margin: 20px;
  } 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
  
  /* Footer Section */
  
  .social-icon{
    margin: 20px 10px;
    padding: 4px 7px;
  }
  .copyright{
      padding-top: 10px;
      font-size: 1.5rem;
  }
  
  /* Media Queries */
  
  @media (max-width: 1028px) {
  
    #home h1,h3{
      text-align: center;
    }
      }
  }
